body {
    position: relative; 
    background-image: url('/Assets/backgroundimages/4.1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}
body::before {
    content: "";
    position: absolute;
   
    width: 100%;
    height: 100%;
    background-image: inherit;
    background-size: inherit;
    filter: blur(2px);
    z-index: -1;
}
.cart-image {
    max-width: 200px;
    height: auto;
}

.table th,
.table td {
    vertical-align:text-top;
}

.table th {
    text-align: center;
}

.text-end {
    text-align: right;
}